.card {
    padding: 8px;

    border-radius: 24px;

    height: max-content;
    gap: 8px;

    transition: background-color 0.4s;

    display: grid;
    place-items: center;
}

.cardBody {
    grid-row: 1;
    grid-column: 1;

    perspective: 1000px;
    transform-style: preserve-3d;
}

.cardImgBlur {
    grid-row: 1;
    grid-column: 1;

    aspect-ratio: 1;

    width: 48%;

    box-sizing: border-box;

    filter: blur(128px);
    transform: rotate(45deg);

    z-index: -1;
}

.img {
    aspect-ratio: 1;

    border-radius: 16px;
    outline: 1px solid hsla(0, 0%, 100%, 0.08);
}

.cardImg {
    width: 100%;

    box-sizing: border-box;

    transform: scale(0.8) rotate3d(1, 1, 1, 8deg);
    transform:
        scale(0.8)
        rotateX(8deg) 

    transition: transform 0.2s;
}

.card:hover .cardImg {
    transform: scale(1) rotateX(0) rotateY(0) rotateZ(0);
    transition: transform 0.2s;
}

.cardFooter {
    align-items: center;
    gap: 8px;
}
