.card {
    position: relative;

    padding: 8px;

    border-radius: 24px;

    height: max-content;
    gap: 8px;

    transition: background-color 0.4s;
}

.cardImgBlur {
    position: absolute;

    object-fit: cover;
    aspect-ratio: 1;

    width: 100%;

    filter: blur(128px);
    transform: rotate(45deg);

    z-index: -1;
}

.img {
    aspect-ratio: 1;

    border-radius: 16px;
    outline: 1px solid hsla(0, 0%, 100%, 0.08);
}

.cardImg {
    width: 100%;

    box-sizing: border-box;

    transform: scale(0.8) rotate3d(1, 1, 1, 8deg);
    transition: transform 0.2s;
}

.card:hover .cardImg {
    transform: scale(1) rotate3d(1, 1, 1, 0deg);
}

.cardFooter {
    align-items: center;
    gap: 8px;
}
