:root {
    --bg: hsl(0, 0%, 0%);

    --TextPrimary: hsl(0, 0%, 100%);
    --TextSecondary: hsla(0, 0%, 100%, 0.64);
    --TextTertiary: hsla(0, 0%, 100%, 0.48);

    --IsClickable: hsla(0, 0%, 100%, 0.64);

    --Small: 0.5rem;
    --Medium: 1rem;
    --Large: 2rem;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    margin: 0 auto;
    padding: 32px;

    box-sizing: border-box;

    max-width: 1280px;

    background-color: var(--bg);

    display: flex;
    flex-direction: column;
    gap: 32px;
}

nav {
    padding: 32px;
    justify-content: space-between;
    gap: 32px;
}

main {
    height: 100%;

    overflow: scroll;

    display: grid;
    grid-template-columns: repeat(5, minmax(128px, 256px));
    gap: 32px;
}

footer {
    padding: 32px;
    
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.wrapper {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
}

.gapSmall {
    gap: var(--Small);
}

.gapMedium {
    gap: var(--Medium);
}

.gapLarge {
    gap: var(--Large);
}

.center {
    align-items: center;
}

@media (max-width: 512px) {

}
