:root {
    --bg: hsl(0, 0%, 4%);

    --TextPrimary: hsl(0, 0%, 100%);
    --TextSecondary: hsla(0, 0%, 100%, 0.64);
    --TextTertiary: hsla(0, 0%, 100%, 0.48);

    --IsClickable: hsla(0, 0%, 100%, 0.08);

    --Small: 0.5rem;
    --Medium: 1rem;
    --Large: 2rem;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    min-height: 100vh;

    box-sizing: border-box;

    background-color: var(--bg);

    display: grid;
    grid-template-rows: max-content 1fr max-content;
    align-content: center;
}

nav {
    top: 0;
    position: sticky;

    z-index: 1;

    padding: 64px 32px;

    background: rgb(0,0,0);
    background: linear-gradient(0deg, hsla(0, 0%, 4%, 0) 0%, hsla(0, 0%, 4%, 1) 100%); 

    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

main {
    margin: 0 auto;
    padding: 0 32px;

    height: 100%;

    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(1, minmax(128px, 1fr));
    gap: var(--Small);
}

.mainContentContainer {
    grid-column: 1;

    display: flex;
    flex-direction: column;
    gap: 64px;
}

footer {
    padding: 64px 48px;

    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.isClickable {
    padding: var(--Small);

    border-radius: 24px;
    border: 1px solid hsla(0, 0%, 100%, 0);

    backdrop-filter: blur(var(--Small));

    transition: background-color 0.4s;
}

.isClickable:hover {
    background-color: var(--IsClickable);
    border-color: var(--IsClickable);
    transition: background-color 0.4s;
}

.btn {
    padding: var(--Small) var(--Medium);
    font-size: 14px;
}

.wrapper {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
}

.gapMinimal {
    gap: 0.25rem;
}

.gapSmall {
    gap: var(--Small);
}

.gapMedium {
    gap: var(--Medium);
}

.gapLarge {
    gap: var(--Large);
}

.center {
    align-items: center;
}

.cetnerHorizontally {
    justify-content: center;
}

.grow {
    flex-grow: 1;
}

@media (min-width: 512px) {
    main {
        grid-template-columns: repeat(2, minmax(128px, 1fr));
    }

    .mainContentContainer {
        grid-column: 1 /span 2;
    }
}

@media (min-width: 720px) {
    main {
        grid-template-columns: repeat(3, minmax(128px, 300px));
    }

    .mainContentContainer {
        grid-column: 1 /span 3;
    }
}

@media (min-width: 1024px) {
    main {
        grid-template-columns: repeat(5, minmax(128px, 300px));
    }

    .mainContentContainer {
        grid-column: 2 /span 3;
    }

    nav {
        padding: 64px;
    }

    footer {
        padding: 64px 80px;
    }
}