header {
    height: min-content;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.headerBody {
    grid-row: 1;
    grid-column: 2 /span 2;

    padding: 16px 0;

    box-sizing: border-box;

    height: 100%;

    justify-content: space-between;
}

#headerImg {
    grid-row: 1;
    grid-column: 1;

    width: 100%;

    aspect-ratio: 1;

    box-sizing: content-box;
}

.blurredImg {
    grid-row: 1;
    grid-column: 1;
    place-self: center;

    z-index: -1;

    width: 72%;

    box-sizing: border-box;

    filter: blur(128px);
    transform: rotate(45deg);
}

.songTitle {
    flex-grow: 1;
    font-size: 24px;
}

.lyricsCon {
    height: 100%;
}

.musicAppLinkBtn {
    flex: 1;

    padding: 8px;

    border-radius: 32px;

    display: flex;
    align-items: center;
    gap: 16px;
}

.musicAppLogo {
    aspect-ratio: 1;
    max-width: 32px;
}

.musicAppLinkBtn span {
    font-size: 12px;
}

.lyricContainer {
    padding-left: 32px;
    border-left: 1px solid #FFFFFF16;
}

.lyricType {
    padding-bottom: var(--Small);

    font-size: 14px;
    color: var(--TextSecondary);
}

.lyric {
    font-size: 24px;
    font-weight: 600;
}

.saveBtn {
    aspect-ratio: 1;

    border-radius: 100%;

    background: none;
    display: grid;
    place-content: center;
}

.saveBtn:hover {
    cursor: pointer;
}

.saveBtnIcon {
    /* aspect-ratio: 1; */
    width: 24px;
}

@media (max-width: 720px) {
    header {
        grid-template-columns: 1fr;
    }

    .headerBody {
        grid-column: 1;
    }

    #headerImg {
        grid-row: 1;
        grid-column: 1;
    }
    
    .blurredImg {
        grid-row: 1;
        grid-column: 1;
    }
    
    .headerBody {
        grid-row: 2;
        grid-column: 1;
    }
}
